body { 
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}
.cabeçalho-imagem {
    width: 90%;
}
.cabeçalho {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.cabeçalho-lista-item {
    display: inline-block;
    margin: 80px;
    padding: 65px;
    font-size: 50px;
}
* { 
    margin: 10;
    padding: 0;
}