body {
background-color: rgba(0, 0, 0, 0.699);
color: rgba(208, 206, 209, 0.918);

}

.cabeçalho {
background-color: rgba(0, 0, 0, 0.699);
color: rgb(216, 216, 219);
display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 24 px;

}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 016px;
    padding: 24px 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;

}

.imagem {
    width: 25%;

}
.escola {
    background-color: rgba(219, 218, 221, 0.911);
    color: rgba(233, 229, 229, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;

}
.escola-conteudo {
    width: 35%;
}
