body {
background-color: rgb(255, 196, 0);
color: rgb(255, 217, 0);

}

.cabeçalho {
background-color: rgb(255, 230, 0);
color: rgb(0, 0, 0);
display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 24 px;

}

.cabeçalho-lista-intem {
    display: inline-block;
    margin: 0 016px;
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;

}

escola.imagem {
    width: 25%;

}
.escola {
    background-image: linear-gradient();
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;body {
2
background-color: rgb(255, 196, 0);
3
color: rgb(248, 224, 5);
4
​
5
}
6
​
7
.cabeçalho {
8
background-color: rgb(255, 230, 0);
9
color: rgb(0, 0, 0);
10
display: flex;
11
justify-content: space-around;
12
padding: 24px 0;
13
font-size: 24 px;
14
​
15
}
16
​
17
.cabeçalho-lista-intem {
18
    display: inline-block;
19
    margin: 0 016px;
20
    padding: 24px 0;
21
    font-size: 24px;
22
}
23
​
24
* {
25
    margin: 0;
26
    padding: 0;
27
​
28
}
29
​
30
escola.imagem {
31
    width: 25%;
32
​
33
}
34
.escola {
35
    background-image: linear-gradient();
36
    color: rgb(0, 0, 0);
37
    display: flex;
38
    justify-content: center;
39
    align-items: center;
40
​
41
}
42
.escola-conteudo {
43
    width: 35%;
44
}
45


}
.escola-conteudo {
    width: 35%;
}
